
.SimpleTheme-array-items, .SimpleTheme-application-arguments, .SimpleTheme-user-function-expressions {
  padding-left: 1em;
}

.SimpleTheme-array-item, .SimpleTheme-application-argument {
  padding: 0.05em 0;
}

.SimpleTheme-definition-expression, .SimpleTheme-array-item, .SimpleTheme-application-argument, .SimpleTheme-expression-identifier {
  width: fit-content;
}

.SimpleTheme-application-flex {
  display: flex;
}

.SimpleTheme-application-function-name {
  font-weight: bold;
}

.SimpleTheme-application-function-name-centered {
  align-self: center;
}

.SimpleTheme-application-argument {
  display: flex;
}

.SimpleTheme-application-argument-name {
  margin-right: 0.2em;
}

/* NOTE: This is awkward that we reference Editor classes, but don't know a nice way to fix */
.Editor:focus .SimpleTheme-selected, .Editor-text-edit-input:focus {
  outline: rgb(0, 255, 255) solid 1px;
  outline-offset: 0;
}

.SimpleTheme-hovered {
  outline: rgb(0, 200, 200) dashed 1px;
  outline-offset: 0;
}

.SimpleTheme-clipboard-top {
  outline: rgba(0, 255, 0, 0.75) solid 1px;
  outline-offset: 0;
}

.SimpleTheme-clipboard-rest {
  outline: rgba(0, 255, 0, 0.25) solid 1px;
  outline-offset: 0;
}

.SimpleTheme-definition-expression {
  padding: 0.2em 0;
}

.SimpleTheme-expression-identifier {
  font-size: 0.8em;
  padding: 0.1em 0.3em;
  background: #aaa;
  border-radius: 0.1em;
  color: #333;
}

.SimpleTheme-expression {
  display: flex;
}

.SimpleTheme-expression-line {
  width: 0.2em;
  margin-right: 0.1em;
  border-left: 1px solid #555;
}

.SimpleTheme-expression-bracket {
  width: 0.2em;
  margin-right: 0.1em;
  border-left: 1px solid #555;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.SimpleTheme-expression-background {
  padding: 0 0.2em;
  background-color: rgba(255, 255, 255, 0.05);
}

.SimpleTheme-expression-shadow {
  padding: 0 0.2em;
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.5);
}

.SimpleTheme-stream-reference, .SimpleTheme-identifier {
  font-style: italic;
}

.SimpleTheme-undefined-expression {
  background: rgba(255, 0, 0, 0.75);
  padding: 0 1em;
}
