.Editor-workspace {
  font-weight: 300;
  font-size: 14px;
}

.Editor-workspace:focus {
  outline-style: none;
  box-shadow: none;
}

.Editor-panel {
  margin-bottom: 1em;
  background-color: #e8e0da;
  padding: 0.75em;
  width: fit-content;
}

.Editor-panel h2 {
  font-size: inherit;
  margin: 0 0 0.5em 0;
}
