.Editor-workspace {
  border: 1px solid #aaa;
  font-size: 18px;
  padding: 1em;
  overflow: auto;
}

.Editor-workspace:focus {
  outline-style: none;
  box-shadow: none;
}

.Editor-text-edit-input {
  border: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  background: #eee;
  color: #333;
}

.Editor-panel {
  margin-top: 1em;
  background-color: #ccc;
  padding: 0.75em;
  width: fit-content;
}

.Editor-panel h2 {
  font-size: inherit;
  margin: 0 0 0.5em 0;
}
