.ExpressionChooser-input {
  border: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  background: #eee;
  color: #333;
  padding: 0.2em 0.2em;
}

.ExpressionChooser-dropdown {
  list-style: none;
  /* margin: 2px 0 0 0; */
  margin: 0;
  padding: 0;
  max-height: 20em;
  overflow-y: scroll;
  background: #eee;
  color: #333;
}

.ExpressionChooser-dropdown li {
  padding: 0.3em 0.2em;
  border-bottom: 1px solid #777;
}

.ExpressionChooser-dropdown li.ExpressionChooser-dropdown-selected {
  background: #bbb;
}

.ExpressionChooser-dropdown li.ExpressionChooser-dropdown-selected-error {
  background: #bbb;
  color: #555;
}

.ExpressionChooser-dropdown-compile-error {
  color: red;
}
