.ExpressionChooser {
  background: white;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
  /* border: 1px solid #777; */
}

.ExpressionChooser-input {
  border: 1px solid transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  background: #eee;
  color: #333;
  padding: 0.3em;
  width: 100%;
  box-sizing: border-box;
}

.ExpressionChooser-dropdown {
  list-style: none;
  /* margin: 2px 0 0 0; */
  margin: 0;
  padding: 0;
  max-height: 10em;
  overflow-y: scroll;
  background: #eee;
  color: #333;
  border: 1px solid #777;
  border-top: none;
}

.ExpressionChooser-dropdown li {
  padding: 0.3em 0.2em;
}

.ExpressionChooser-dropdown li.ExpressionChooser-dropdown-selected {
  background: #bbb;
}

.ExpressionChooser-dropdown li.ExpressionChooser-dropdown-selected-error {
  background: #bbb;
  color: #555;
}

.ExpressionChooser-dropdown-compile-error {
  color: red;
}
