.TreeView-no-pointer {
  pointer-events: none;
}

.TreeView-common-padding {
  padding: 0.1em 0.2em;
}

.TreeView-simple-node {
  width: max-content;
}

.TreeView-appish-node {
  width: max-content;
  display: flex;
  flex-direction: row;
}

.TreeView-appish-body {
  background: #ccc;
  display: flex;
  flex-direction: row;
}

.TreeView-name-bar {
  background: #bbb;
  pointer-events: none;
  font-weight: bold;
}

.TreeView-appish-yield-descs {
  display: flex;
  flex-direction: column;
}

.TreeView-appish-node-function-argument-inner {
  padding-bottom: 0.2em;
}

.TreeView-appish-node-child-name {
  text-align: right;
  pointer-events: none;
}

.TreeView-appish-node-child-cxn-line {
  width: 0.3em;
  padding-top: 0.75em;
}

.TreeView-appish-node-child-cxn-line > * {
  border-top: 1px solid #999;
}

.TreeView-appish-node-child-cxn-triangle {
  padding-top: 0.5em;
}

.TreeView-appish-node-child-cxn-triangle > * {
  width: 0;
  height: 0;
  border-top: 0.3em solid transparent;
  border-bottom: 0.3em solid transparent;
  border-right: 0.5em solid black;
}

.TreeView-appish-node-spacer-row {
  height: 0.5em;
  pointer-events: none;
}

.TreeView-appish-node-selection-overlay {
  pointer-events: none;
}

.TreeView-udf-node-expressions {
  background: white;
  padding: 0.5em;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.5);
}

.TreeView-udf-node-expressions > *:not(:last-child) {
  margin-bottom: 0.5em;
}

.TreeView-udf-node-parameters {
  flex: 1; /* absorb extra space if UDF name is long */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.TreeView-udf-node-parameters > *:not(:last-child) {
  margin-bottom: 0.2em;
}

.TreeView-stream-indirection {
  display: flex;
  flex-direction: row;
}

/* NOTE: This is awkward that we reference Editor classes, but don't know a nice way to fix */
.Editor-workspace:focus .TreeView-selected, .ExpressionChooser-input:focus {
  outline: black solid 2px;
  outline-offset: -2px;
}

.TreeView-hovered {
  outline: black dashed 1px;
  outline-offset: -1px;
}
