.TreeView-common-padding {
  padding: 0.1em 0.2em;
}

.TreeView-simple-node {
  width: max-content;
}

.TreeView-appish-node {
  width: max-content;
  display: grid;
  grid-auto-columns: max-content;
}

.TreeView-appish-node-main-text {
  background: #bbb;
}

.TreeView-appish-node-child-name {
  text-align: right;
}

.TreeView-appish-node-no-pointer {
  pointer-events: none;
}

.TreeView-appish-node-child-cxn {
  width: 0.3em;
  padding-top: 0.75em;
}

.TreeView-appish-node-child-cxn-inner {
  border-top: 1px solid #999;
}

.TreeView-appish-node-spacer-row {
  height: 0.5em;
}

.TreeView-udf-node-main-container {
  margin: 0.5em 0;
  display: flex;
  flex-direction: row;
}

.TreeView-udf-node {
  width: max-content;
}

.TreeView-udf-node-expressions {
  background: white;
  padding: 0.5em;
  margin: 0 0.5em;
  box-shadow: inset 0 2px 5px 0 rgba(0,0,0,.5);
}

.TreeView-udf-node-expressions > *:not(:last-child) {
  margin-bottom: 0.5em;
}

.TreeView-udf-node-parameters {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.TreeView-udf-node-parameters > *:not(:last-child) {
  margin-bottom: 0.2em;
}

/* NOTE: This is awkward that we reference Editor classes, but don't know a nice way to fix */
.Editor-workspace:focus .TreeView-selected, .ExpressionChooser-input:focus {
  outline: black solid 2px;
  outline-offset: 0;
}

.TreeView-hovered {
  outline: black dashed 1px;
  outline-offset: 0;
}
