.TreeView-general-node {
  width: max-content;
}

.TreeView-general-node-with-children {
  display: grid;
  grid-auto-columns: max-content;
}

.TreeView-general-node-padding {
  padding: 0.1em 0.2em;
}

.TreeView-general-node-child-name {
  text-align: right;
}

.TreeView-general-node-no-pointer {
  pointer-events: none;
}

.TreeView-general-node-child-cxn {
  width: 0.3em;
  padding-top: 0.7em;
}

.TreeView-general-node-child-cxn-inner {
  border-top: 1px solid #999;
}

.TreeView-general-node-spacer-row {
  height: 0.3em;
}

/* NOTE: This is awkward that we reference Editor classes, but don't know a nice way to fix */
.Editor-workspace:focus .TreeView-selected, .Editor-text-edit-input:focus {
  outline: black solid 2px;
  outline-offset: 0;
}

.TreeView-hovered {
  outline: black dashed 1px;
  outline-offset: 0;
}
