.TreeView-node {
  width: max-content;
}

.TreeView-node:focus {
  outline: none;
}

.TreeView-node.TreeView-selected {
  box-shadow: 0 0 0 1px black;
}

.TreeView-rounded-node {
  border-radius: 0.5em;
}

.TreeView-simple-node {
  padding: 0.3em 0.5em;
}

.TreeView-simple-node-icon {
  height: 1em;
  vertical-align: text-bottom;
}

.TreeView-row-view-plain-text {
  padding: 0.3em;
}

.TreeView-row-view-row {
  display: flex;
  align-items: center;
}

.TreeView-row-view-row-indented {
  margin-left: 1.5em;
}

.TreeView-row-view-row-tight:not(:last-child) {
  margin-bottom: 0.1em;
}

.TreeView-row-view-row-loose:not(:last-child) {
  margin-bottom: 0.5em;
}

.TreeView-logical-horiz {
  display: flex;
  align-items: center;
}

.TreeView-logical-group-horiz {
  display: flex;
  align-items: center;
}

.TreeView-logical-plain-text {
  padding: 0.3em;
}

.TreeView-tree-function-definition-iface-spec {
  background-color: #ddd;
  padding: 0.5em;
}

.TreeView-tree-function-definition-body {
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.5);
  padding: 0.5em;
}

.TreeView-referent {
  box-shadow: 0 0 0 1px rgb(135, 135, 255);
}

.TreeView-hovered {
  box-shadow: 0 0 0 1px #aaa;
}
