.CodeView-selection {
  position: absolute;
  pointer-events: none;
  transition-property: top, left, width, height, border-radius;
  transition-duration: 0.05s;
  transition-timing-function: linear;
}

.CodeView:focus {
  outline-style: none;
}

/* Layout-old */
.Layout-old.CodeView {
  font-weight: 300;
  font-size: 14px;
}

.Layout-old.CodeView:focus {
  box-shadow: none;
}

.Layout-old .CodeView-selection {
  box-sizing: border-box;
  border: 1px solid green;
}

.Layout-old.CodeView:focus .CodeView-selection {
  border: 2px solid green;
  box-shadow: 0 0 10px -1px rgb(0 0 0 / 25%);
}

.Layout-old .CodeView-selection-common {
  border-radius: 0.5em;
}

/* Layout-new */
.Layout-new.CodeView {
  font-size: 14px;
  font-family: "Hack";
}

.Layout-new .CodeView-selection {
  box-sizing: border-box;
  border: 1px solid rgba(0, 173, 0, 0.5);
}

.Layout-new.CodeView:focus .CodeView-selection {
  box-sizing: border-box;
  border: 1px solid rgba(0, 173, 0);
}



.Palette-light.CodeView {
  background: white;
  color: black;
}


.Palette-dark.CodeView {
  background: black;
  color: white;
}
