.TreeView-literal-icon {
  height: 1em;
  vertical-align: text-bottom;
}

.TreeView-simple-leaf {
  padding: 0.3em 0.5em;
}

.TreeView-selectable {
  display: inline-block;
  border: 1px solid #ccc;
}

/* This is hacky to refer to class from another component */
.Editor-workspace:focus .TreeView-selected {
  border: 1px solid black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.TreeView-referent {
  box-shadow: 0 0 0 1px rgb(135, 135, 255);
}

.TreeView-hovered {
  border: 1px solid #777;
}

.TreeView-layout-block {
  display: inline-flex;
  flex-direction: column;
}

.TreeView-layout-block-item:not(:last-child) {
  margin-bottom: 0.5em;
}

.TreeView-layout-inline {
  display: inline-flex;
  align-items: center;
}

.TreeView-layout-inline-item:not(:last-child) {
  margin-right: 0.5em;
}

.TreeView-indent {
  padding-left: 0.5em;
}
