.TreeView-literal-icon {
  height: 1em;
  vertical-align: text-bottom;
}

.TreeView-common-leaf {
  padding: 0.3em 0.5em;
}

.TreeView-leaf-styling-undefined {
  background-color: #f77;
  border-radius: 0.5em;
}

.TreeView-leaf-styling-number {
  color: rgb(0, 92, 197);
}

.TreeView-leaf-styling-text {
  color: rgb(3, 47, 98);
}

.TreeView-leaf-styling-boolean {
  color: rgb(0, 92, 197);
}

.TreeView-leaf-styling-streamref {
  color: #1d8a3b;
}

.TreeView-leaf-styling-name {
  color: rgb(111, 66, 193);
}

.TreeView-selectable {
  display: inline-block;
}

.TreeView-selectable-common {
  border-radius: 0.5em;
  border: 1px solid #ccc;
  margin: -1px;
}

.TreeView-selectable-funcdef {
  border: 2px solid #ccc;
  margin: -2px;
}

/* This is hacky to refer to class from another component */
/*
.Editor-workspace:focus .TreeView-selected {
  border: 1px solid black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.TreeView-referent {
  box-shadow: 0 0 0 1px rgb(135, 135, 255);
}
*/

.TreeView-hovered {
  border-color: #777;
}

.TreeView-array-block {
  display: inline-flex;
  flex-direction: column;
}

.TreeView-array-block-item:not(:last-child) {
  margin-bottom: 0.75em;
}

.TreeView-array-inline {
  display: inline-flex;
  align-items: center;
}

.TreeView-array-inline-item:not(:last-child) {
  margin-right: 0.75em;
}

.TreeView-ls-text {
  padding: 0.3em 0;
}

.TreeView-ls-block {
  display: inline-flex;
  flex-direction: column;
}

.TreeView-ls-block-item:not(:last-child) {
  margin-bottom: 0.75em;
}

.TreeView-ls-inline {
  display: inline-flex;
}

.TreeView-ls-inline-item:not(:last-child) {
  margin-right: 1em;
}

.TreeView-ls-node-block {
  display: inline-flex;
  flex-direction: column;
}

.TreeView-ls-node-inline {
  display: inline-flex;
  align-items: center;
}

.TreeView-ls-node-prelabel {
  padding: 0.3em 0.5em 0.3em 0;
}

.TreeView-ls-node-postlabel {
  padding: 0.3em 0 0.3em 0.5em;
}

.TreeView-indent {
  padding-left: 1.5em;
}

.TreeView-func-padding {
  padding: 0.75em;
}

.TreeView-funcdef-iface {
  border-bottom: 1px dashed #ccc;
}

.TreeView-app-inline {
  padding: 0 0.5em;
}

.TreeView-app-block {
  padding-left: 0.5em;
}

.TreeView-stream-binding-binding {
  margin-bottom: 0.5em;
}
